.container {
    background-color: rgb(255, 255, 255);
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.row{
    text-align: center;
    .title{
        color : green;
    }
    .game-panel{
        width:100%;
        display: flex;  
        justify-content: space-evenly;
    }
    .reset-btn{
        background-color: rgb(234, 126, 126);
        border-radius: 10px;
        padding: 5px 2vw;    
        text-transform: uppercase;
        color: black;
        cursor: pointer;
    }
    .player{
        display: flex;
        flex-flow: column nowrap;
        height: 250px;
    }
    .dice{
        height: 250px;
    }
    .score{
        font-size: xx-large;
        font-weight: auto   ;
    }
    .roll-btn{
        background-color: rgb(95, 228, 82);
        border-radius: 10px;
        padding: 5px 2vw;    
        text-transform: uppercase;
        color: black;
        cursor: pointer;

    }

}
.content{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 20px;
    padding : 10px;
    font-size: x-large;
}
