.container {
    text-align: center;
}

.dice-container {
    display: inline-block;
    margin-bottom: 20px;
}

#diceImg {
    width: 100px;
    height: 100px;
    transition: transform 1s ease-in-out;
}

.roll-animation {
    animation: roll 1s ease-in-out;
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
